body {
  font-family: 'Palatino Linotype', Palatino, Georgia, serif;
  color: rgb(69, 69, 69)
}

#top-container {
  margin: 5%;
  padding: 3%;
  border: 2px solid rgb(221, 221, 221);
}

.image-block {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid gray;
}

.caption {
  text-align: center;
  font-weight: normal;
}

img {
  display: block;
  width: 100%;
}

a {
  color: darkblue;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: darkblue;
  text-decoration-style: solid;
  transition: all 1s ease;
}

h1>a {
  font-weight: normal;
  text-align: left;
}

h3 {
  font-family: "Futura", sans-serif;
  font-weight: 600;
}

ul {
  list-style-type: square;
}

#name-header>a {
  color: rgb(69, 69, 69);
  text-decoration: none;
  font-size: 40px;
  transition: all 0.5s ease;
}

#name-header>a:hover {
  color: darkblue;
}

.flex-container {
  display: flex;
}

#navigation-bar.flex-container {
  justify-content: left;
  flex-direction: row;
}

#navigation-bar>div {
  padding: 7px 20px;
}

#navigation-bar>div>a {
  font-family: "Futura", sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: rgb(69, 69, 69);
  transition: all 0.5s ease;
}

#navigation-bar>div>a:hover {
  color: darkblue;
}

#navigation-bar>div>a.current {
  font-weight: bold;
}

.divider {
  border: 1px solid black;
}

hr {
  color: rgb(221, 221, 221);
  size: 20px;
}

.content {
  /* border: 1px solid Tomato; */
  width: 60%;
  padding: 1%;
  margin: 0px auto;
}

footer {
  text-align: center;
  color: rgb(180, 180, 180)
}
