* {
  box-sizing: border-box;
}

body {
  font-family: 'Palatino Linotype', Palatino, Georgia, serif;
  color: rgb(69, 69, 69);
}

/* Columns */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 1%;
    background-color: white;
    /* border: 1px solid Tomato; */
}
.center {
  float: none;
  margin: 0px auto;
}
.right {
  float: right;
}

#top-container {
  overflow: auto;
  margin: 5%;
  padding: 3%;
  border: 2px solid rgb(221, 221, 221);
}

.image-block {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid black;
}

.caption {
  text-align: center;
  font-weight: normal;
}

img {
  display: block;
  width: 100%;
}

a {
  color: darkblue;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: darkblue;
  text-decoration-style: solid;
  transition: all 1s ease;
}

h1>a {
  font-weight: normal;
  text-align: left;
}

h3 {
  font-family: "Futura", sans-serif;
  font-weight: 600;
}

ul {
  list-style-type: square;
}

#name-header>a {
  color: rgb(69, 69, 69);
  text-decoration: none;
  font-size: 40px;
  transition: all 0.5s ease;
}

#name-header>a:hover {
  color: darkblue;
}

.flex-container {
  display: flex;
}

#navigation-bar.flex-container {
  justify-content: left;
  flex-direction: row;
}

#navigation-bar>div {
  padding: 7px 20px;
}

#navigation-bar>div>a {
  font-family: "Futura", sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: rgb(69, 69, 69);
  transition: all 0.5s ease;
}

#navigation-bar>div>a:hover {
  color: darkblue;
}

#navigation-bar>div>a.current {
  font-weight: bold;
}

.divider {
  border: 1px solid black;
}

hr {
  color: rgb(221, 221, 221);
  size: 20px;
}

footer {
  display: block;
  width: 100%;
  float: left;
  text-align: center;
  color: rgb(180, 180, 180)
}
